.App {
  text-align: center;
}

*,
::after,
::before {
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border;
  box-sizing: border-box;
}
li > p {
  padding: 25px;
}
[contenteditable='true'] {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  cursor: text;
  display: block;
  border-radius: 5px;
}

[contenteditable='true']:focus {
  background-color: #e2e2e2;
}
[contenteditable='true']:empty::before {
  content: attr(placeholder);
  display: block;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  /* left: 10px; */
}

.brand li {
  display: inline-block;
}
.contentOptions > li:first-child,
.brand > li:first-child {
  width: 28%;
}
.contentOptions > li:last-child,
.brand > li:last-child {
  width: 72%;
}
.iconContainer > section:first-child {
  width: 10%;
  text-align: center;
}
.iconContainer > section:last-child {
  width: 88%;
  text-align: left;
}

.options {
  margin-right: 12px;
  margin-bottom: 12px;
  min-width: 50px;
}
.addBtn,
.removeBtn {
  display: none;
}
.options:last-child:hover .addBtn {
  display: inline-block;
}
.options:hover .removeBtn {
  display: inline-block;
}
.options:first-child .removeBtn {
  opacity: 0.5;
}
.professionList:last-child > .verticalLine {
  display: none;
}
/* .addPro */
.professionList {
  box-sizing: border-box;
  border: 2px dashed rgba(190, 190, 190, 0);
}
.professionList:hover {
  border: 2px dashed rgb(190, 190, 190);
}

.maniBtn {
  display: none;
}

.professionList:hover .maniBtn {
  display: inline-block;
}
.customList {
  display: inline-block;
  min-width: 70px;
}
.customList:hover .maniBtn {
  display: inline-block;
}
.maniBtn > .hintText {
  display: none;
  transition: all 0.5s ease-in-out;
}
.maniBtn:hover .hintText {
  display: inline-block;
}
.cList {
  border: 2px dashed rgba(179, 178, 178, 0);
}
.cList:hover {
  border: 2px dashed rgb(179, 178, 178);
}
.bottomLimit {
  top: 150rem;
}
.listOfOptions > li:first-child {
  width: 40%;
}
.listOfOptions > li:last-child {
  width: 60%;
}
